Repository CrazyForks/postgresus: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format-and-lint

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c "cd frontend && npm run format"
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c "cd frontend && npm run lint"
  language: system
  pass_filenames: false

backend-format-and-lint:
  name: Backend Format & Lint (golangci-lint)
  entry: bash -c "cd backend && golangci-lint fmt ./internal/... ./cmd/... && golangci-lint run ./internal/... ./cmd/..."
  language: system
  pass_filenames: false

FIX (backend): Fix formatting
  backend/Makefile
  backend/internal/features/intervals/model.go
  backend/internal/features/users/models/users_settings.go
Due: backend-format-and-lint

FIX (temp): Use Databasus temp folder instead of system over PG backup
  backend/internal/features/backups/backups/usecases/postgresql/create_backup_uc.go
Due: backend-format-and-lint

FIX (mysql\mariadb): Remove PROCESS permission check before backup, because it is not mandatory for backup
  backend/internal/features/databases/databases/mariadb/model.go
  backend/internal/features/databases/databases/mysql/model.go
Due: backend-format-and-lint

FIX (temp folder): Ensure permissions 0700 for temp folders to meet PG requirements for .pgpass ownership
  Dockerfile
  backend/internal/features/backups/backups/usecases/mariadb/create_backup_uc.go
  backend/internal/features/backups/backups/usecases/mysql/create_backup_uc.go
  backend/internal/features/backups/backups/usecases/postgresql/create_backup_uc.go
  backend/internal/features/restores/usecases/mariadb/restore_backup_uc.go
  backend/internal/features/restores/usecases/mysql/restore_backup_uc.go
  backend/internal/features/restores/usecases/postgresql/restore_backup_uc.go
Due: backend-format-and-lint

FIX (mysql\mariadb): Use custom TLS handler to skip verification instead of build-in
  backend/internal/features/databases/databases/mariadb/model.go
  backend/internal/features/databases/databases/mysql/model.go
Due: backend-format-and-lint

FIX (readme): Update readme
  README.md
Due: none

--skip-ssl-verify-server-cert for mariadb / mysql
  backend/internal/features/backups/backups/usecases/mariadb/create_backup_uc.go
  backend/internal/features/restores/usecases/mariadb/restore_backup_uc.go
Due: backend-format-and-lint

FIX (oauth): Enable GitHub and Google OAuth
  frontend/src/constants.ts
  frontend/src/features/users/ui/OauthComponent.tsx
  frontend/src/features/users/ui/SignInComponent.tsx
  frontend/src/features/users/ui/SignUpComponent.tsx
  frontend/src/features/users/ui/oauth/GithubOAuthComponent.tsx
  frontend/src/features/users/ui/oauth/GoogleOAuthComponent.tsx
Due: frontend-format, frontend-lint

FEATURE (backups): Move backups cancellation to Valkey pub\sub
  .github/workflows/ci-release.yml
  Dockerfile
  backend/.env.development.example
  backend/.env.production.example
  backend/.gitignore
  backend/cmd/main.go
  backend/docker-compose.yml.example
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/features/backups/backups/background_service_test.go
  backend/internal/features/backups/backups/backup_context_manager.go
  backend/internal/features/backups/backups/backup_context_manager_test.go
  backend/internal/features/backups/backups/di.go
  backend/internal/util/cache/cache.go
  backend/internal/util/cache/pubsub.go
  backend/internal/util/cache/utils.go
Due: backend-format-and-lint

FIX (tidy): Run go mod tidy
  backend/go.mod
  backend/go.sum
Due: none

FIX (permissions check): Check permissions only in schemas selected for backup
  backend/internal/features/databases/databases/postgresql/model.go
Due: backend-format-and-lint

FIX (postgresql): Filter TEMP table SELECT checks
  backend/internal/features/databases/databases/postgresql/model.go
Due: backend-format-and-lint

FIX (mysql \ mariadb): Decrease strictness of SELECT check for health check
  backend/Makefile
  backend/internal/features/databases/databases/mariadb/model.go
  backend/internal/features/databases/databases/mariadb/model_test.go
  backend/internal/features/databases/databases/mysql/model.go
  backend/internal/features/databases/databases/mysql/model_test.go
Due: backend-format-and-lint

FIX (webhook): Do not encypt webhook URL, keep encyption for headers only
  backend/internal/features/notifiers/models/webhook/model.go
  frontend/src/features/notifiers/ui/edit/notifiers/EditWebhookNotifierComponent.tsx
  frontend/src/features/notifiers/ui/show/notifier/ShowWebhookNotifierComponent.tsx
Due: frontend-format, frontend-lint, backend-format-and-lint

FIX (webhook): Update webhook tests to not expect URL to be encrypted
  backend/internal/features/notifiers/controller_test.go
Due: backend-format-and-lint

FIX (backups): Throw error on parallel download token generation
  backend/internal/features/backups/backups/controller.go
  backend/internal/features/backups/backups/controller_test.go
  backend/internal/features/backups/backups/download/service.go
Due: backend-format-and-lint

FEATURE (bandwidth): Limit download throughput for backups to not exhaust more than 75% of server network bandwidth
  backend/internal/features/backups/backups/controller.go
  backend/internal/features/backups/backups/controller_test.go
  backend/internal/features/backups/backups/download/bandwidth.go
  backend/internal/features/backups/backups/download/bandwidth_test.go
  backend/internal/features/backups/backups/download/di.go
  backend/internal/features/backups/backups/download/rate_limiter.go
  backend/internal/features/backups/backups/download/service.go
  backend/internal/features/backups/backups/service.go
Due: backend-format-and-lint

FEATURE (backups): Allow single backup download to avoid exhausting of server throughput
  backend/internal/features/backups/backups/controller.go
  backend/internal/features/backups/backups/controller_test.go
  backend/internal/features/backups/backups/download/di.go
  backend/internal/features/backups/backups/download/service.go
  backend/internal/features/backups/backups/download/tracking.go
  backend/internal/features/backups/backups/service.go
Due: backend-format-and-lint

FEATURE (auth): Add rate limiting for sign in via email using sliding window
  backend/internal/features/users/controllers/di.go
  backend/internal/features/users/controllers/e2e_test.go
  backend/internal/features/users/controllers/user_controller.go
  backend/internal/features/users/controllers/user_controller_test.go
  backend/internal/util/cache/rate_limiter.go
Due: backend-format-and-lint

FIX (pre-commit): Add running go mod tidy in pre-commit
  .pre-commit-config.yaml
  backend/go.mod
Due: none

FIX (mysql): Enable allowCleartextPasswords over SSL
  backend/internal/features/databases/databases/mysql/model.go
Due: backend-format-and-lint

!REFACTOR (tasks): Move tasks cancellation and tracking to separate package from backuping to use for restores
  backend/.env.development.example
  backend/cmd/main.go
  backend/internal/config/config.go
  backend/internal/features/backups/backups/backuping/backuper.go
  backend/internal/features/backups/backups/backuping/di.go
  backend/internal/features/backups/backups/backuping/dto.go
  backend/internal/features/backups/backups/backuping/registry.go
  backend/internal/features/backups/backups/backuping/registry_test.go
  backend/internal/features/backups/backups/backuping/scheduler.go
  backend/internal/features/backups/backups/backuping/scheduler_test.go
  backend/internal/features/backups/backups/backuping/testing.go
  backend/internal/features/backups/backups/cancellation/backup_cancel_manager.go
  backend/internal/features/backups/backups/controller_test.go
  backend/internal/features/backups/backups/di.go
  backend/internal/features/backups/backups/service.go
  backend/internal/features/tasks/cancellation/cancel_manager.go
  backend/internal/features/tasks/cancellation/cancel_manager_test.go
  backend/internal/features/tasks/cancellation/di.go
  backend/internal/features/tasks/registry/di.go
  backend/internal/features/tasks/registry/dto.go
  backend/internal/features/tasks/registry/registry.go
  backend/internal/features/tasks/registry/registry_test.go
  backend/internal/util/cache/cache_test.go
  backend/internal/util/tools/mariadb.go
  backend/internal/util/tools/mongodb.go
  backend/internal/util/tools/mysql.go
  backend/internal/util/tools/postgresql.go
Due: backend-format-and-lint

FIX (ci \ cd): Remove caches and use assets from repo to avoid flucky tests over CI
  .github/workflows/ci-release.yml
Due: none

FIX (containers): Do not allow to backup internal DB from inside containers, instead give link to FAQ with manual how to backup Databasus in proper way
  AGENTS.md
  backend/.cursor/rules/codestyle-rule.mdc
  backend/.cursor/rules/comments.mdc
  backend/.cursor/rules/controllers-rule.mdc
  backend/.cursor/rules/crud.mdc
  backend/.cursor/rules/di-rule.mdc
  backend/.cursor/rules/migrations-rule.mdc
  backend/.cursor/rules/refactor.mdc
  backend/.cursor/rules/tests.mdc
  backend/.cursor/rules/time-rule.mdc
  backend/internal/features/databases/databases/postgresql/model.go
  backend/internal/features/databases/databases/postgresql/model_test.go
  frontend/.cursor/rules/react-component-structure.mdc
Due: backend-format-and-lint

FIX (backups): Add backups failure logging when it is expected
  backend/internal/features/backups/backups/backuping/backuper.go
Due: backend-format-and-lint

FIX (ci \ cd): Make DB files in CI \ CD executable
  .github/workflows/ci-release.yml
Due: none

FIX (backups): Extend filtering lists to detect from-image DB access
  backend/internal/features/databases/databases/postgresql/model.go
  backend/internal/features/databases/databases/postgresql/model_test.go
Due: backend-format-and-lint

FEATURE (restores): Do not allow to make 2 parallel restores for single DB
  backend/internal/features/restores/controller_test.go
  backend/internal/features/restores/core/repository.go
  backend/internal/features/restores/service.go
Due: backend-format-and-lint

FEATURE (ci \ cd): Adjust CI \ CD to run heavy jobs on self hosted performant runner
  .github/workflows/ci-release.yml
  backend/.env.development.example
  backend/internal/config/config.go
  backend/internal/features/backups/backups/controller_test.go
  backend/internal/features/backups/config/controller_test.go
  backend/internal/features/databases/controller_test.go
  backend/internal/features/databases/databases/mariadb/model_test.go
  backend/internal/features/databases/databases/mongodb/model_test.go
  backend/internal/features/databases/databases/mysql/model_test.go
  backend/internal/features/databases/databases/postgresql/model_test.go
  backend/internal/features/databases/testing.go
  backend/internal/features/restores/controller_test.go
  backend/internal/features/restores/restoring/restorer_test.go
  backend/internal/features/restores/restoring/scheduler_test.go
  backend/internal/features/restores/restoring/testing.go
  backend/internal/features/storages/model_test.go
  backend/internal/features/tests/mariadb_backup_restore_test.go
  backend/internal/features/tests/mongodb_backup_restore_test.go
  backend/internal/features/tests/mysql_backup_restore_test.go
  backend/internal/features/tests/postgresql_backup_restore_test.go
Due: backend-format-and-lint

FIX (commit messages): Allow to use backstashes in messages
  .github/workflows/ci-release.yml
Due: none

FIX (commit messages): Allow to use backstashes in messages x2
  .github/workflows/ci-release.yml
Due: none

FIX (commit messages): Allow to use backstashes in messages x3
  .github/workflows/ci-release.yml
Due: none

FIX (ci): Add cleanup to build and push steps
  .github/workflows/ci-release.yml
Due: none

FIX (tests): Allow to skip external network tests in CI CD
  .github/workflows/ci-release.yml
  backend/.env.development.example
  backend/internal/config/config.go
  backend/internal/features/databases/databases/postgresql/model_test.go
  backend/internal/features/storages/controller_test.go
  backend/internal/features/storages/model_test.go
  backend/internal/features/tests/postgresql_backup_restore_test.go
Due: backend-format-and-lint

FIX (email): Add following RFC 2047 for emails
  backend/internal/features/notifiers/models/email_notifier/model.go
Due: backend-format-and-lint

FIX (ftp): Add support of nested folders
  backend/internal/features/storages/models/ftp/model.go
Due: backend-format-and-lint

FIX (postgresql): Do not throw an error over read-only user creation if there are no public schema in DB
  backend/internal/features/databases/databases/postgresql/model.go
  backend/internal/features/databases/databases/postgresql/model_test.go
Due: backend-format-and-lint

Path conditions:
  frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-format-and-lint: any of: ^backend/.*\.go$
