Repository CrazyForks/postgresus: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format-and-lint

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c "cd frontend && npm run format"
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c "cd frontend && npm run lint"
  language: system
  pass_filenames: false

backend-format-and-lint:
  name: Backend Format & Lint (golangci-lint)
  entry: bash -c "cd backend && golangci-lint fmt ./internal/... ./cmd/... && golangci-lint run ./internal/... ./cmd/..."
  language: system
  pass_filenames: false

FIX (mysql \ mariadb): Add escaping underscoped DB names over heath check
  backend/internal/features/databases/databases/mariadb/model.go
  backend/internal/features/databases/databases/mariadb/model_test.go
  backend/internal/features/databases/databases/mysql/model.go
  backend/internal/features/databases/databases/mysql/model_test.go
Due: backend-format-and-lint

FIX (backups): Allow parallel backups for different DBs
  backend/internal/features/backups/backups/backuping/backuper.go
  backend/internal/features/backups/backups/backuping/mocks.go
  backend/internal/features/backups/backups/backuping/scheduler_test.go
  backend/internal/features/backups/backups/backuping/testing.go
Due: backend-format-and-lint

FEATURE (config): Suggest read-only user creation when DB config changed
  frontend/src/features/backups/ui/EditBackupConfigComponent.tsx
  frontend/src/features/databases/ui/CreateDatabaseComponent.tsx
  frontend/src/features/databases/ui/edit/CreateReadOnlyComponent.tsx
  frontend/src/features/databases/ui/edit/EditDatabaseSpecificDataComponent.tsx
Due: frontend-format, frontend-lint

FEATURE (limits): Add max backup size limit and total backups size limit
  backend/cmd/main.go
  backend/internal/features/backups/backups/backuping/backuper.go
  backend/internal/features/backups/backups/backuping/backuper_test.go
  backend/internal/features/backups/backups/backuping/cleaner.go
  backend/internal/features/backups/backups/backuping/cleaner_test.go
  backend/internal/features/backups/backups/backuping/di.go
  backend/internal/features/backups/backups/backuping/mocks.go
  backend/internal/features/backups/backups/backuping/scheduler.go
  backend/internal/features/backups/backups/backuping/scheduler_test.go
  backend/internal/features/backups/backups/backuping/testing.go
  backend/internal/features/backups/backups/core/model.go
  backend/internal/features/backups/backups/core/repository.go
  backend/internal/features/backups/backups/di.go
  backend/internal/features/backups/backups/service.go
  backend/internal/features/backups/config/model.go
  backend/internal/features/restores/di.go
  backend/migrations/20260119124334_add_backup_size_limits.sql
  frontend/src/entity/backups/model/BackupConfig.ts
  frontend/src/features/backups/ui/EditBackupConfigComponent.tsx
Due: frontend-format, frontend-lint, backend-format-and-lint

FIX (backups): Do not allow 2 parallel backups for the same DB
  backend/internal/features/backups/backups/backuping/scheduler.go
  backend/internal/features/backups/backups/backuping/scheduler_test.go
Due: backend-format-and-lint

FIX (theme): Integrate theme support for GitHub button color scheme
  frontend/src/widgets/main/MainScreenComponent.tsx
Due: frontend-format, frontend-lint

FEATURE (navbar): Update navbar style
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/settings/ui/SettingsComponent.tsx
  frontend/src/features/users/ui/AuthNavbarComponent.tsx
  frontend/src/features/users/ui/ProfileComponent.tsx
  frontend/src/features/users/ui/UsersComponent.tsx
  frontend/src/features/workspaces/ui/WorkspaceSettingsComponent.tsx
  frontend/src/shared/ui/StarButtonComponent.tsx
  frontend/src/shared/ui/ThemeToggleComponent.tsx
  frontend/src/shared/ui/index.ts
  frontend/src/widgets/main/MainScreenComponent.tsx
  frontend/src/widgets/main/SidebarComponent.tsx
  frontend/src/widgets/main/WorkspaceSelectionComponent.tsx
Due: frontend-format, frontend-lint

FIX (ci \ cd): Add build step after lint step for frontend to catch build issues
  .github/workflows/ci-release.yml
  frontend/src/features/databases/ui/edit/EditDatabaseBaseInfoComponent.tsx
  frontend/src/widgets/main/SidebarComponent.tsx
Due: frontend-format, frontend-lint

FIX (cors): Allow CORS for healthcheck endpoint
  backend/internal/features/system/healthcheck/controller.go
Due: backend-format-and-lint

FEATURE (pre-commit): Add building step to pre-commit
  .pre-commit-config.yaml
  frontend/src/features/databases/ui/DatabaseComponent.tsx
  frontend/src/features/databases/ui/DatabaseConfigComponent.tsx
  frontend/src/features/databases/ui/DatabaseTransferDialogComponent.tsx
  frontend/src/features/databases/ui/DatabasesComponent.tsx
  frontend/src/pages/OauthStorageComponent.tsx
  frontend/src/widgets/main/MainScreenComponent.tsx
Due: frontend-format, frontend-lint

FIX (playground): Fix flacky test with impossible value
  backend/internal/features/backups/config/model_test.go
Due: backend-format-and-lint

FIX (playground): Make playground multiple nodes
  Dockerfile
  backend/internal/config/config.go
  frontend/src/features/playground/ui/PlaygroundWarningComponent.tsx
Due: frontend-format, frontend-lint, backend-format-and-lint

FIX (db): Decrease connections count for DB
  backend/internal/storage/storage.go
Due: backend-format-and-lint

FIX (tests): Improve cleaning up of backups and workspaces
  AGENTS.md
  backend/internal/features/backups/backups/backuping/cleaner_test.go
  backend/internal/features/backups/backups/backuping/scheduler.go
  backend/internal/features/backups/backups/controller_test.go
  backend/internal/features/backups/config/controller_test.go
  backend/internal/features/backups/config/notifiers_test.go
  backend/internal/features/backups/config/storages_test.go
  backend/internal/features/databases/controller_test.go
  backend/internal/features/healthcheck/attempt/controller_test.go
  backend/internal/features/healthcheck/config/controller_test.go
  backend/internal/features/restores/controller_test.go
  backend/internal/features/storages/controller_test.go
  backend/internal/features/workspaces/controllers/membership_controller_test.go
  backend/internal/features/workspaces/controllers/workspace_controller_test.go
  backend/internal/features/workspaces/testing/testing.go
Due: backend-format-and-lint

FEATURE (logs): Add Victora Logs
  backend/.env.development.example
  backend/.gitignore
  backend/cmd/main.go
  backend/docker-compose.yml.example
  backend/internal/util/logger/logger.go
  backend/internal/util/logger/multi_handler.go
  backend/internal/util/logger/victorialogs_writer.go
Due: backend-format-and-lint

FIX (tests): Increase cascade deletion timeouts in tests
  backend/internal/features/backups/backups/backuping/backuper_test.go
  backend/internal/features/backups/backups/backuping/cleaner_test.go
  backend/internal/features/backups/backups/backuping/scheduler_test.go
  backend/internal/features/backups/backups/backuping/testing.go
  backend/internal/features/backups/backups/controller_test.go
  backend/internal/features/backups/backups/testing.go
  backend/internal/features/backups/config/controller_test.go
Due: backend-format-and-lint

FIX (tests): Fix database backups cleanup when DI does not allow to delete backups via listeners
  backend/internal/features/backups/backups/backuping/backuper_test.go
  backend/internal/features/backups/backups/backuping/cleaner_test.go
  backend/internal/features/backups/backups/backuping/scheduler_test.go
  backend/internal/features/backups/backups/backuping/testing.go
  backend/internal/features/backups/backups/controller_test.go
  backend/internal/features/backups/backups/testing.go
  backend/internal/features/backups/config/controller_test.go
  backend/internal/features/databases/testing.go
Due: backend-format-and-lint

FIX (backups): Improve cascade deletion of backups on storage removal
  backend/migrations/20260127132617_add_cascade_delete_for_backups_and_databases.sql
Due: none

FIX (backups): Improve cascade deletion of backups on storage removal x2
  backend/migrations/20260127132617_add_cascade_delete_for_backups_and_databases.sql
Due: none

FIX (backups): Improve cascade deletion of backups on storage removal x3
  backend/migrations/20260127132617_add_cascade_delete_for_backups_and_databases.sql
  backend/migrations/20260127140305_add_cascade_delete_for_backup_configs.sql
Due: none

FIX (env): Fix env detection over startup
  Dockerfile
  frontend/src/features/users/ui/SignInComponent.tsx
  frontend/src/features/users/ui/SignUpComponent.tsx
Due: frontend-format, frontend-lint

FEATURE (email): Add sending email about members invitation and password reset
  Dockerfile
  backend/internal/config/config.go
  backend/internal/features/email/di.go
  backend/internal/features/email/email.go
  backend/internal/features/users/controllers/password_reset_test.go
  backend/internal/features/users/controllers/user_controller.go
  backend/internal/features/users/dto/dto.go
  backend/internal/features/users/interfaces/interfaces.go
  backend/internal/features/users/models/password_reset_code.go
  backend/internal/features/users/repositories/di.go
  backend/internal/features/users/repositories/password_reset_repository.go
  backend/internal/features/users/services/di.go
  backend/internal/features/users/services/user_services.go
  backend/internal/features/users/testing/mocks.go
  backend/internal/features/workspaces/interfaces/interfaces.go
  backend/internal/features/workspaces/services/di.go
  backend/internal/features/workspaces/services/membership_service.go
  backend/internal/features/workspaces/testing/mocks.go
  backend/migrations/20260128115419_add_password_reset_codes.sql
  frontend/.env.development.example
  frontend/src/constants.ts
  frontend/src/entity/users/api/userApi.ts
  frontend/src/entity/users/index.ts
  frontend/src/entity/users/model/ResetPasswordRequest.ts
  frontend/src/entity/users/model/SendResetPasswordCodeRequest.ts
  frontend/src/features/users/index.ts
  frontend/src/features/users/ui/RequestResetPasswordComponent.tsx
  frontend/src/features/users/ui/ResetPasswordComponent.tsx
  frontend/src/features/users/ui/SignInComponent.tsx
  frontend/src/pages/AuthPageComponent.tsx
Due: frontend-format, frontend-lint, backend-format-and-lint

Path conditions:
  frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-format-and-lint: any of: ^backend/.*\.go$
